
.datepicker {
    float: left;
    box-sizing: border-box;
    border: 2px solid #eee;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header {
    position: relative;
    margin: 3px 0;
    height: 20px;
}

.header .title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.header .prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.header .next {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.calendar {
    border-collapse: collapse;
}

.calendar th {
    font-size: 12px;
    color: #dedede;
}

.calendar th, .calendar td {
    padding: 2px 8px;
}

.calendar td {
    text-align: center;
    vertical-align: middle;
}

.calendar td:nth-child(n+2), .calendar th:nth-child(n+2) {
    border-left: 1px solid #eee;
}

.calendar td.onmonth {
    color: brown;
}

.calendar td.offmonth {
    color: bisque;
}
.calendar td:hover {
    background-color: blue;
    color: #fff;
    cursor: pointer;
}

